<h2>My ToDos</h2>

<div>
  <mat-form-field>
    <input autofocus="" matInput #todoTitle placeholder="New ToDo">
  </mat-form-field>
  <!-- (click) passes input value to add() and then clears the input -->
  <button mat-mini-fab color="primary" (click)="add(todoTitle.value); todoTitle.value=''">+</button>
</div>

<mat-nav-list>
  <mat-list-item *ngFor="let todo of todos" [class.completed]="todo.completed">
    <a matLine routerLink="/todo/{{todo.id}}">{{ todo.title }}</a>
    <span class="delete" title="delete todo" (click)="delete(todo)">x</span>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-nav-list>